<h2>Admin Group Pane</h2>
<h3>Number of groups: {{num}}</h3>
<button class="tbl-btn btn-link" (click)="showAddNewGroup()">Add group</button>
  <div align="left" *ngIf="iscreating">
    <h3>Add new group</h3>
    <form name="form" #f="ngForm" novalidate>
    <input class="input" placeholder="Name" type="text"  name="name" [(ngModel)]="newGroup.name"
           required />
    <h3>Add users to the group</h3>
    <div *ngFor="let user of users">
        <input type="checkbox" name="chk2" [(ngModel)]="user.checked"> {{user.userName}}
    </div>
    <button class="tbl-btn btn-link" (click)="createGroup()">Create Group</button>
    </form>
  </div>
     <div align="left" *ngIf="isediting">
        <h3>Edit group</h3>
        <form name="form" #f="ngForm" novalidate>
        <input class="input" placeholder="Name" type="text"  name="name" [(ngModel)]="editedGroup.name"
               required />
        <h3>Remove next users from group</h3>
        <div *ngFor="let user of editedGroup.users">
            <input type="checkbox" name="chk" [(ngModel)]="user.checked"> {{user.userName}}
        </div>
        <h3>Add next users to the group</h3>
        <div *ngFor="let user of otherUsers">
            <input type="checkbox" name="chk2" [(ngModel)]="user.checked"> {{user.userName}}
        </div>
        <button class="tbl-btn btn-link" (click)="updateGroup(editedGroup.groupID)">Update</button>
        </form>
      </div>
<br>
<span>{{message}}</span>
<table class="table-bordered">
  <caption>List of Groups</caption> 
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Users Number</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor="let group of groups">
      <td>{{group.groupID}}</td>
      <td>{{group.name}}</td>
      <td>{{group.users.length}}</td>
      <td><button class="tbl-btn btn-link" (click)="editGroup(group.groupID)">Edit</button>
        <button class="tbl-btn btn-danger" (click)="deleteGroup(group.groupID)">Delete</button></td>
  </tr>
  </table>