<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <button class="btn btn-secondary" (click)="editUser()">Edit user data</button>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Role:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token.substring(0,20)}}.
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
  <br>
  <span>{{message}}</span>
  <div *ngIf="isEditing">  <!--(ngSubmit)="f.form.valid && onSubmit()"-->
    <form name="form" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="name">Your name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="editedUser.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="editedUser.userName" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="editedUser.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="editedUser.password" #password="ngModel"
          /> 
    <!--   <div *ngIf="f.submitted && password.invalid"> required minlength="3" 
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 3 characters</div>
        </div> -->
      </div>
      <div class="form-group">
        <label class="checkbox-inline" style="padding-right: 30px;">
        <input type="checkbox" class="form-control" name="ra"  [(ngModel)]="editedUser.isAdmin">Admin
        </label>
      </div>
      <div class="form-group">          
        <button class="btn btn-success" (click)="updateUser()">Update User</button>
      </div>
    </form>
  </div>
</div>
 
<ng-template #loggedOut>
  Please login.
</ng-template>