<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <nav>
      <a *ngIf="authority === 'Admin' || authority === 'User'" routerLink="home" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Home</a>
      <a *ngIf="authority === 'Admin'" routerLink="adminpane" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Adminpane</a>
      <a *ngIf="authority === 'Admin'" routerLink="groups" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Groups</a>
      <a *ngIf="authority === 'Admin' || authority === 'User'" routerLink="files" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Data Manager</a>
      <a *ngIf="!authority" routerLink="login" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Login</a>
      <a *ngIf="!authority" routerLink="register" class="btn btn-primary active" role="button" style="padding-right: 30px;" routerLinkActive="active">Register</a>
  </nav>
<router-outlet></router-outlet>
