<br>
<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <span class="upload">{{message}}</span>
  <h2 align="left">My file list</h2>
  <div margin-left=30px align="left" 
        *ngFor="let file of files" class="file"> 
        <span>{{file.substring(13)}}&nbsp;&nbsp;&nbsp;</span>
        <button class="tbl-btn btn-link" (click)="download(file)">Download</button>
  </div>
</div>
